.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-content: center;
  grid-gap: 1.25rem 1.0625rem;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

@media screen and (min-width: 881px) {
  /* Para > max-width de section */
  .cards__list {
    grid-template-columns: repeat(3, 282px); /* Fuerza 3 columnas si cabe */
    justify-content: space-between; /* Mejor distribución */
  }
}

@media screen and (max-width: 544px) {
  .cards__list {
    grid-template-columns: 1fr; /* Explícito para mobile */
  }
}
